*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Comic Neue', cursive;

}

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-image: linear-gradient(to right, #a517a5, #5f1782);
    padding: 0 !important;
}
.navbar-brand h3{
    height: 40px;
    padding-left: 20px;
    padding-top: 10px;
    color: #fff;
    font-weight: 700;
}
.navbar-nav li{
    padding: 0 10px;

}
.navbar-nav li a{
    color: #fff !important;
    font-weight: 500;
    float: right;
    text-align: left;
}
.fas-bars{
    color: #000000;
    font-size: 30px !important;
}
.navbar-toggler{
    outline: none !important;
}
#banner{
    background-image: #fff;
    color: #fff;
    padding-top: 5%;
    height: 100%;
}
.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
    background: linear-gradient(to right, #a517a5 0%, #5f1782 100%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.col-md-6 img{
    max-height: 350px;
}
.bottom-img{
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
}

#services{
    padding: 80px 0;
}
#services .btn-secondary{
    box-shadow: none;
    padding: 8px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #a517a5, #5f1782);
}    
.insta-img{
    width: 100px;
    margin-top: 20px;
}
.title::before{
    content: '';
    background: #7b1798;
    height: 5px;
    width: 230px;
    margin-left: auto;
    margin-right: auto;  
    display: block;
    transform: translateY(45px);
}
.title::after{
    content: '';
    background: #7b1798;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;  
    margin-bottom: 40px;
    display: block;
    transform: translateY(1.5px);
}
#my-projects .btn-secondary{
    box-shadow: none;
    padding: 8px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #a517a5, #5f1782);
}
#about-me{
    background: #f9f8fa;
    padding-bottom: 50px;
    padding-top: 35px;
}
.python-img{
    width: 120px;
    height: 120px;
}

#my-projects{
    margin: 70px 0;
}
.my-projects{
    border-left: 4px solid #7b1798;
    margin-top: 50px;
    margin-bottom: 50px;
}
